.App {
  text-align: center;
  background: #39D1B4;
  height: 100%;
}

.App-intro {
  font-size: large;
}

.swipeable-views, .slide, .react-swipeable-view-container {
  height: 100%;
}

.slide {
  padding: 15;
  color: #fff;
  height: 100%
}
.slide1 {
  background-color: #FEA900;
}
.slide2 {
  background-color: #B3DC4A;
}
.slide3 {
  background-color: #6AC0FF;
}
